<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HelppoLasku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <HelppoLasku.Properties.Settings>
            <setting name="TaxRates" serializeAs="String">
                <value>%24%14%10%0</value>
            </setting>
            <setting name="SelectedCompany" serializeAs="String">
                <value>%NotSet%</value>
            </setting>
            <setting name="DefaultTax" serializeAs="String">
                <value>-24</value>
            </setting>
            <setting name="MaxInterest" serializeAs="String">
                <value>11.5</value>
            </setting>
            <setting name="MinReferenceLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxReferenceLength" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="DefaultAnnotation" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MinCompanyExpire" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MinPersonExpire" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DefaultInvoiceID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultReference" serializeAs="String">
                <value>0001</value>
            </setting>
        </HelppoLasku.Properties.Settings>
    </userSettings>
</configuration>